*.p0*
*.b0*
*.r0*
*.std
*.htp
*.eva
*.tds
*.bar
*.cov
*.dep
*.hes
*.rpt
*.cpp
*.log
*.obj
*.tmp
*.ecm
*.mc2
*.mcm
*.hst
*.psv
*.ss_new
*.sso
gradient.1
gradient.2
gradient.3
gradient.4
gradient.5
gradient.dat
runnumber.ss
tmp_admb
variance
*.cor
*.rep
*.par
*.exe
*.bat
.Rproj.user
.Rhistory
.RData
.Ruserdata
retro5.RData
create_CAAL/
simple-caal/
Figures & Tables/
retro_plots/
plots/
jitter_plots/
~$*
docs
